<form role="form">
    <div class="row" ng-show="errorMsg"><div class="alert alert-danger col-md-12">Whoops! {{errorMsg}}</div></div>
    <div class="row">
        <div class="col-md-5">

            <label for="password">Password<strong>*</strong></label>
            <div class="input-group">
                <input id="password" type="text" class="form-control input-md" placeholder="Type your password, or we'll generate one for you" ng-model="password.password" ng-required="true">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-md" ng-click="password.password = getRandomPassword(12)">Random</button>
                </span>
            </div>
            <p class="help-block">Random will generate a secure random password.</p>
            <br>

            <label for="seconds">Expiration<strong>*</strong></label>
            <div class="input-group">
                <input type="datetime" id="seconds" class="form-control input-md" ng-change="updateDate()" ng-model="displayDate" ng-required="true">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Expire In <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="setTime(600)">10 Minutes</a></li>
                        <li><a ng-click="setTime(1800)">30 Minutes</a></li>
                        <li><a ng-click="setTime(3600)">1 Hour</a></li>
                        <li><a ng-click="setTime(14400)">4 Hours</a></li>
                        <li><a ng-click="setTime(28800)">8 Hours</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="setTime(43200)">12 Hours</a></li>
                        <li><a ng-click="setTime(86400)">24 Hours</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </div><!-- /input-group -->
            <p class="help-block">Password will be deleted {{minutes}} minutes from now.</p>
            <br>

            <label for="notifications">Notification Emails</label>
            <input class="form-control input-md" id="notifications" ng-list ng-model="password.notifications" placeholder="john@example.com, jane@local.net">
            <p class="help-block">A comma separated list of emails to send this link to</p>

        </div>
        <div class="col-md-1">
            <!--spacing -->
            &nbsp;
        </div>
        <div class="col-md-5">

            <label for="user">User ID</label>
            <input class="form-control input-md" id="user" type="text" placeholder="jdoe5" ng-model="password.user">
            <p class="help-block">For instance, a user name</p>
            <br>

            <label for="ip">IP Restrictions</label>
            <input id="ip" class="form-control input-md" ng-list ng-model="password.ipRestrictions" placeholder="112.13.14.9, 112.13.15.*">
            <p class="help-block">A comma-separated list of IP restrictions.  Wild cards allowed with '*'</p>
            <br>

            <label for="viewlimit">Max Views</label>
            <input class="form-control input-md" id="viewlimit" ng-model="password.viewLimit">
            <p class="help-block">Maximum times this password can be viewed.  0 is unlimited.</p>
            <br>

            <label for="notes">Notes</label>
            <textarea class="form-control" name="notes" id="notes" ng-model="password.note"></textarea>
            <p class="help-block">Any other notes to share</p>
        </div>
    </div>

    <div class="row">
        <div class="mol-md-5">
            <button class="btn btn-lg" ng-class="{'btn-success': !submitting}" ng-click="createPassword()" ng-disabled="submitting">Create Exploding Password and Send Notifications <img src="/images/loader.GIF" ng-show="submitting"></button>
        </div>
    </div>

</form>
