
<p>Password Exploder allows you to share passwords with unguessable URLs.  Tell it when to delete the password (for instance: after 10 minutes, or after it has been viewed 3 times) and the password is deleted without a trace from the server at that time.</p>

<h3>Yeah, but, why?</h3>
<p>We often found ourselves needing to share passwords with clients, but didn't want to send via email or have to spell out a long random password over the phone.  This method is not 100% secure, but it's pretty effective.</p>

<p>There are a ton of ways to share passwords securely, and this works frictionlessly for us for non-mission-critical sharing.</p>

